body{
	background:linear-gradient(#7a81c3,#efe5fd,#7a81c3);
    margin :0px;
  	padding:0px;
  	box-sizing: border-box;
   	position: relative;
  }
@media  only screen and (max-width: 767px) {
    ul li{
    	text-align: center;
     }
     .image,.About{
     	margin-top: 20px !important;
     }
}
@media  only screen and (max-width: 1090px) {
	.nav li a{
 		padding: 15px 6px;
  		font-size:15px;
	}
	.brand-name{
		font-size: 18px !important;
		margin-right: 0px;
	}
}
@media only screen and (max-width: 816px){
	.nav li a {
		padding:15px 2px;
	}
}
.main-container{
	margin:0px auto;
	width:70%;
	height: auto;
 }
  .active{
  	background-color:white;
  }
.affix{
  	width:70%;
   	top:0px;
  	z-index: 2;
  	background-color:rgba(66, 66, 66, 0.8);
 }
.intro{
	background:rgba(129, 134, 199, 0.5);
	height:500px;
	text-align: center;
	width:100%;
	position: relative;
 	background-repeat: no-repeat;
	background-position:center bottom;
	background-size: cover;
  }
.intro-content{
	position: absolute;
	top:50%; 
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
 }
.intro-content h1 {
	text-transform: uppercase;
	font-size: 40px;
    font-weight: 600;
 }
 .intro-content p {
 	font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    letter-spacing: 2px
 }
 .btn{
	text-transform: uppercase;
 	width:150px;
 	font-size:15px;
 	padding: 13px;
 	height:50px;  
	color: #fff !important;
	border:1px solid #fff;
	background-color:inherit; 
 }
 .btn:hover{
 	background-color:black; 
 }    
 .nav{
   	margin-top:1px !important;
 	font-weight: bold;
 	font-size: 18px;
 	text-transform: uppercase;
 }
.navbar-header span{
	background-color:red;
}
.brand-name{
	color:#fff;
	font-family: 'Lobster', cursive,serif;	
	font-size: 23px;
	position: relative;
	left:0px;
	width:auto;
}
.navbar-header a hr{
	min-width:50%;
	border-top:3px solid #FFF;
	margin-top:2px;
	position: absolute;
	right:20px;
 }
 .brand-name:hover{
 	color:#D32F2F;
 }
 .navbar-brand:hover hr{
  	border-color: #D32F2F;
 }
.content h2{
	color:#fff;
}
.content hr{
	width:40%;
	margin-top:10px;
 	border-top:3px solid blue;
}
.content h3{
	margin-top: 30px;
}
.content h3 span{
 	font-weight: bolder;
	text-transform: uppercase;
	display: inline-block;
	line-height: 30px;
}
.image{
	text-align: center;
 }
.image img{
 	width:170px;
 	height: 200px;
 	border-radius: 50%;
	margin-bottom: 15px;
  }
.About{
 	margin-top:50px;
 	margin-left: -10px;
	height:250px;
}
.About .content p {
	margin: 20px;
}
.skills{
 	clear: both;
	position: relative;
	top:5px;
	display: block;
 	margin-bottom: 50px;
 }
.skills h2{
 	text-align:center;
	color:#fff; 
}
.skills hr{
	width:70px;
	border-top:2px solid #8D92CC;
 	margin-top: -5px;
 }
 .easyPieChart{
  	text-align:center;
  	position:relative;
	left:0px;
 }
@media only screen and (max-width:844px){
	.easyPieChart{
		position: relative;
		left:0px !important;
		padding-left:10px; 
   	}
}
@media (max-width:768px) and (min-width:556px){
	.align{
		position:relative;
		left:30px;
	}
}
.easyPieChart canvas{
    position:absolute;
    top:0px;
    left:5px;
 }
.mb-50{
	margin-top: 10px;
	margin-bottom:50px;
}
.portfolio h2 {
	margin-top: 20px;
	color:#fff;
	text-align: center;
}
.projects{
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
}
.projects .pre {
	width: 32%;
}
.mr-15{
	margin-right: 15px;
}
#elon-img{
	width:300px;
	height: 200px;
}
#msp-img {
	width:200px;
	height:200px;
}
#pixel-img{
	width:250px;
	height: 150px;
}
.portfolio .projects .caption {
	text-align: center;
	font-weight: 900;
}
@media screen and (max-width: 1070px){
	.projects .pre {
 		width: 70%;
		margin: auto;
		min-width: 250px;
	}
}
.contact h2{
	color:#fff;
	text-align: center;
}
.form{
	max-height:350px; 
}
.form .pos{
	margin-top:30px; 
 	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.form-control{
	background-color: rgba(255,255,255,0.6);
}
.social{ 
	margin-top:50px; 
	height:150px; 
}
.social h4{
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
	color:#fff;
} 
.social ul {	
	list-style-type: none;
	padding-left:0px;
	display: flex;
	justify-content: center;
	align-items: center;
 }
.social ul li{
	justify-content: center;
	display: inline-block;
 	margin:10px;
  }
.social .container-fluid{
	width:100%;
	margin: 0px auto;
	display: flex;
 	justify-content: center;
	align-items: center;
	cursor: pointer;
} 
.social i.fa{
	font-size: 50px;
	color: white;
}
.social i.fa:hover{
 	animation-duration:1.2s; 
	animation-name:change; 
}
@keyframes change{
	to{
		color:black;
 	}
}
footer{
	background:rgba(66, 66, 66, 1);
	color: #fff;
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center; 
}
footer span{
	color:#ff6166;
	line-height:20px;
	margin-left: 3px; 
}